<table border="1">
    <th>
        <th>음식이름</th><th>칼로리</th><th>날짜</th>
    </th>
<% @article.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.title %></td>
  </tr>
<% end %>
</table>