
<p>
  <strong>음식이름:</strong>
  <%= @member.food %>
</p>
 
<p>
  <strong>칼로리:</strong>
  <%= @member.calorie %>
</p>
 
<% end %>
 
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', member_path %>